.against_the_current {
  font-family: sans-serif;
  font-size: calc(1em + 1vw + 1vh);
  line-height: 1.33333;
}

.dance_all_nite {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.hella { line-height: inherit; font-size: 2rem }
.hellu { line-height: inherit; font-size: 2.666666rem }

.giving_it_my_all {
  display: table;
}

.nah {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hit_or_miss {
  padding: calc(1rem + 1vh) calc(1rem + 1vw);
}

.mb1 { margin-bottom: 1rem }
.mb2 { margin-bottom: 2rem }

.cake-vday { background: #415 !important; color: #bae4ea !important }
.cake-bday { background: #bae4ea !important; color: #415 !important }
.cake-clean:not(.cake-unclean),
.cake-clean :not(.cake-unclean) {
  color: inherit;
  background: inherit;
}
