::selection {
  color: black;
  background: orange;
}

:link {
  background: aqua;
  touch-action: manipulation;
}

.jump {
  background: none;
}

:focus {
  outline-color: currentColor;
  outline-style: outset;
  outline-offset: .05rem;
  outline-width: .05rem;
}

.fame {
  font-family: sans-serif;
  font-size: calc(1em + 1vw + 1vh);
  line-height: 1.33333;
}

.hood {
  display: block;
  margin: 0;
}

.nah {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pad {
  padding: 1rem;
  padding: calc(1rem + 1vh) calc(1rem + 1vw);
}

.calm { font: inherit }
.bold { font-weight: bold }
.hella { font-size: 2rem }
.lowkey { text-transform: lowercase }
.exhale { margin-bottom: 1rem }

/***********************************
github.com/s9a/s9a.github.io/pull/55
***********************************/
.surf { text-decoration: none }
.surf:focus {
  text-decoration: underline;
  text-decoration: underline dashed;
}
.surf:hover {
  text-decoration: underline;
}
